@charset "UTF-8";



:root{
--font01: whitney, sans-serif, Arial, 'aral Narrow';
--color01: #23272A;
}
*{
    margin: 0px;
}
header{
    background-color: #404eed;

}
header > nav{
    display: flex;
    padding: 20px;
}
header > nav > img{
    width: 124px;
    margin-bottom: 40px;
}
#butom-entrar{
    display: block;
    position: relative;
    left: 55%;
}
#butom-entrar > a{
    color: var(--color01);
    background-color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: var(--font01);
    font-weight: 800;
    padding: 9px 17px;
    border-radius: 20px;
}
#bloco0{
    margin-left: 20px;
    width: 400px;
}
#bloco0 > img{
    width: 400px;
}
#bloco0 > h2{
    color: white;
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: 1.5em;
    margin-bottom: 27px;
}
#bloco0 > p{
    color: white;
    font-family: var(--font01);
    font-weight: 800;
    margin-bottom: 35px;
    line-height: 1.5em;
}
#bloco0 > #buttom-01 > a, #buttom-02 > a{
    text-decoration: none;
    font-family: var(--font01);
    font-weight: 800;
    font-size: 20px;
}
#buttom-01{
    margin-bottom: 50px;
}
#buttom-01 > a{
    background-color: white;
    color: var(--color01);
    padding: 14px 32px;
    border-radius: 30px;
}
.material-symbols-outlined{
    color: var(--color01);
    position: relative;
    top: 4px;
    margin-right: 6px;
}
#buttom-02 > a{
    color: white;
    background-color: #23272A;
    padding: 16px 32px;
    border-radius: 30px;
}