@charset "UTF-8";



:root{
--font01: whitney, sans-serif, Arial, 'aral Narrow';
--color01: #23272A;
}
*{
    margin: 0px;
}
header{
    background-color: #404eed;

}
header > nav{
    display: flex;
    padding: 20px;
}
header > nav > img{
    width: 124px;
    margin-bottom: 40px;
}
#butom-entrar{
    display: block;
    position: relative;
    left: 50%;
}
#butom-entrar > a{
    color: var(--color01);
    background-color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: var(--font01);
    font-weight: 800;
    padding: 9px 17px;
    border-radius: 20px;
}
#butom-entrar > a:hover{
    color: #404eed;
    transition: 0.2s;
}
#bloco0{
    padding-left: 20px;
}
#bloco0 > img{
    width: 470px;
    margin-top: 70px;
    margin-left: -100px;
}
#bloco0 > h2{
    color: white;
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: 1.5em;
    margin-bottom: 27px;
}
#bloco0 > p{
    color: white;
    font-family: var(--font01);
    font-weight: 800;
    margin-bottom: 35px;
    line-height: 1.5em;
}
#container01 > #buttom-01 > a, #buttom-02 > a{
    text-decoration: none;
    font-family: var(--font01);
    font-weight: 800;
    font-size: 20px;
}
#buttom-01{
    margin-bottom: 50px;
}

#buttom-01 > a{
    background-color: white;
    color: var(--color01);
    padding: 14px 32px;
    border-radius: 30px;
    transition: color 0.2s;
}
#buttom-01 > a:hover{
    color: #404eed;
}

.material-symbols-outlined{
    color: var(--color01);
    position: relative;
    top: 4px;
    margin-right: 6px;
    transition: color 0.2s;
}
#buttom-02 > a{
    color: white;
    background-color: #23272A;
    padding: 16px 32px;
    border-radius: 30px;

}
#buttom-02 > a:hover{
    background-color: rgba(0, 0, 0, 0.849);
    transition: 0.2s;
}
/*BLOCO-01 configurações*/
/*----------------------*/
#bloco1 > img{
    width: 380px;
    margin-top: 90px;
}
#bloco1{
    padding-left: 20px;
    margin-bottom: 50px;

}
#bloco1 > h2{
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 25px;
}
#bloco1 > p{
    font-family: var(--font01);
    font-weight: 100;
    margin-bottom: 35px;
    line-height: 1.5em;
    width: 95%;
}
/*BLOCO-02 configurações*/
/*---------------------*/
#bloco2 > img{
    width: 380px;
    margin-top: 40px;
}
#bloco2{
    padding-left: 20px;
    margin-bottom: 70px;
}
#bloco2 > h2{
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 25px;
}
#bloco2 > p{
    font-family: var(--font01);
    font-weight: 100;
    margin-bottom: 35px;
    line-height: 1.5em;
    width: 95%;
}
/*BLOCO-03 configurações*/
/*---------------------*/
#bloco3 > img{
    width: 380px;
    margin-top: 20px;
}
#bloco3{
    padding-left: 20px;
    margin-bottom: 100px;
}
#bloco3 > h2{
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 25px;
}
#bloco3 > p{
    font-family: var(--font01);
    font-weight: 100;
    margin-bottom: 35px;
    line-height: 1.5em;
    width: 95%;
}
/*BLOCO-04 configurações*/
/*----------------------*/
#bloco4 > img{
    width: 380px;
    margin-top: 20px;
}
#bloco4{
    padding-left: 20px;
    margin-bottom: 100px;
    
}
#bloco4 > h2{
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 25px;
}
#bloco4 > p{
    font-family: var(--font01);
    font-weight: 100;
    margin-bottom: 5px;
    line-height: 1.5em;
    width: 95%;
}
/*BLOCO-05 configurações*/
/*---------------------*/
#bloco5{
    padding-left: 20px;
    margin-bottom: 60px;
}
#bloco5 > h1{
    font-size: 32px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 40px;
}
#bloco5 > a{
    background-color: #404eed;
    padding: 16px 32px;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    font-family: var(--font01);
    font-weight: 800;
    font-size: 20px;
}
/*BLOCO 6 e FOOTER configurações*/
footer{
    background-color: #23272A;
    font-family: var(--font01);
    font-weight: 200;
    font-size: 16px;

}
#blocofooter{
    border-bottom: 1px solid #404eed;
}
footer > section#blocofooter > #coluns > ul > li > a{
    text-decoration: none;
    color: white;
    line-height: 1.8em;
}
footer > section#blocofooter > #coluns > ul > li > a:hover{
    text-decoration: underline;
}
footer > section#blocofooter > #coluns > ul > li > p{
    color: #404eed;
    margin-bottom: 15px;
}
ul > li{
    list-style: none;
}
#coluns{
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    padding-bottom: 40px;
}
.coluns1{
    margin-top: 50px;
    width: 35%;
}
#b5{
    color: white;
}
#bloco5 > a:hover{
    transition: 0.2s;
    background-color: #404eed7e;
}
#bloco6{
    padding-left: 20px;
}
#bloco6 > h2{
    font-size: 32px;
    font-weight: 800;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #404eed;
    padding-top: 60px;
}
#twiiter{
    width: 20px;
}
#end{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 80px;
}
#end > img{
    width: 128px;
}
#end > a{
    color: white;
    text-decoration: none;
    padding-right: 10px;
    background-color: #404eed;
    padding: 7px 16px;
    border-radius: 20px;
}
#Langs{
    color: white;
    background-color: #23272A;
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
}